<header>
	<div class="grid-container">
		<div class="row">
			<nav>
				<ul>
					<li><a href="/en/">English</a></li>
					<li><a href="/kz/">Kazakstan</a></li>
					<li><a href="/ru/">Russian</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<!-- <header>
  <div class="grid-container">
    <div class="col-3">
      <img src="images/logo.svg">
    </div>
    <a class="js-video-pause link-exit"></a>
  </div>
</header> -->